{{!< default}} 

<div class="row">
  <div class="col-md-10 offset-md-1">
          <a class="btn read-more-butt" href="{{@blog.url}}" title="Back to homepage">Back to home</a>

      <div class="tag-title">
        <p>All articles tagged as <b>{{tag.name}}</b></p>
      </div>

      {{#foreach posts}}
        <article class="{{post_class}} post">
            <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>

            {{!-- <div class="poster">
                <span class="badge badge-pill badge-info"><img src="{{author.profile_image}}" class="post-image" /> by {{author.name}} |
            <time datetime="{{date format=" YYYY-MM-DD "}}">{{date format="DD MMMM YYYY"}}</time></span>
            </div> --}}

            <p>{{excerpt characters="200"}}&hellip;</p>

            <a href="{{url}}" title="{{title}}" class="read-more-butt text-center">Read more</a>
        </article>
      {{/foreach}} 
      {{pagination}}
  </div>
</div>